@import ".\\resource\\qss\\light\\common.scss";

.ElListWidget {
    background-color: $--color-white;
    border: none;
    border-radius: $--border-base;
    font-size: $--font-size-base;
    font-family: $--yahei;
    outline: 0px;
    
    &::item {
        color: $--color-text-primary;
        font-size: $--font-size-large;
        height: 2.5em;
        border-radius: $--border-radius-round;
        padding-left: $--padding-large;
        &:hover{
            color:$--color-primary;
        }
        &:selected {
            color: $--color-primary;
            background-color: $--color-primary-light-9;
        }  
    }

}





